<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="css/style.css">

    <!-- Font icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font icons -->

</head>
<body>
        <div class="bx">
    <div class="search">
        <form action="/" method="post" class="search">
            <input type="text" name="cityName" id="search" placeholder="Enter your city name" >
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    </div>
</body>
</html>